atom-text-editor {
  font-style: normal;
  text-rendering: optimizeLegibility;
}

atom-text-editor::shadow {
  .string.quoted,
  .string.regexp {
    -webkit-font-feature-settings: "liga" off, "calt" off;
  }
  .source.js.jsx.vue > .keyword.control.flow.js,
  .storage, .type .function {
    vertical-align: baseline;
    font-family: 'flottflott';
    height: inherit;
    font-size: 1.5em;
    line-height: 1em;
  }

  .source.js.jsx.vue,
  .syntax--keyword,
  .storage.type.function.arrow.js,
  .syntax--support.syntax--class.syntax--js,
  .syntax--support.syntax--function.syntax--dom.syntax--js,
  .syntax--entity.syntax--name.syntax--function.syntax--js,
  .syntax--constant.syntax--language.syntax--boolean.syntax--true.syntax--js,
  .syntax--constant.syntax--language.syntax--boolean.syntax--false.syntax--js,
  .syntax--storage.syntax--type.syntax--const.syntax--js,
  .syntax--storage.syntax--type.syntax--var.syntax--js {
    font-family: 'Operator Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
  }

  .syntax--entity.syntax--other.syntax--attribute-name.syntax--html {
    font-family: 'Operator Mono';
    font-style: normal;
    font-weight: bold;
    color: #EF5350;
  }

  .syntax--punctuation.syntax--definition.syntax--function.syntax--body.syntax--begin.syntax--bracket.syntax--curly.syntax--js,
  .syntax--punctuation.syntax--section.syntax--scope.syntax--begin.syntax--js,
  .syntax--punctuation.syntax--section.syntax--scope.syntax--end.syntax--js,
  .syntax--meta.syntax--delimiter.syntax--object.syntax--comma.syntax--js,
  .syntax--meta.syntax--brace.syntax--square.syntax--js,
  .syntax--meta.syntax--brace.syntax--curly.syntax--js {
    color: #fff;
  }

  .syntax--storage.syntax--type.syntax--class.syntax--jsdoc {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Operator Mono';
  }

  .syntax--variable.syntax--language{
    font-family: 'Operator Mono';
    font-style: normal;
    font-weight: bold;
    color: #E91E63;
  }

  .syntax--arrow {
    font-size: 1em;
  }
}
//
//   .string.unquoted.js {
//     color: #CDD3DE;
//   }
// }
